@if(Request.IsAuthenticated) {
    <text><span class="login">Welcome, @User.Identity.Name!
    @Html.ActionLink("Log Off", "LogOff", "Account", new { }, new { })</span></text>
}
else {
    @:@Html.ActionLink("Login", "LogOn" ,"Account", new {}, new {@class = "login"})
}
