@model IEnumerable<Thomas_Shields_Portfolio.Models.article>
<p class="welcome">Welcome to my portfolio of writing and web design. Below are recent writings of mine. I am a reformed, evangelical Christian in the PCA. I'm still working on this and there are only 2 articles up right now (2 that I happened to have on hand) but I'll be updating often and quickly, so please check back. </p>
@foreach (var item in Model) { 
	@Html.Partial("article", item);

}
@if (User.Identity.IsAuthenticated) { 
<a href="/articles/create" class="new">New Article</a>
}