body {font-family: Calibri, "Segoe UI", Helvetica, Arial, sans-serif;
}
#page {
width:900px;
margin:0 auto;
}
header {
text-align:center;
border-bottom:1px dashed black;
}
header h1 {
margin:0;
margin-top:15px;
}
nav {
margin-top:5px;
margin-bottom:10px;
}
nav a{
text-decoration:none;
background-color:black;
color:white;
padding:5px 10px;
font-family:Times New Roman, Times, Serif;
font-size:1.5em;
font-style:italic;
text-transform:lowercase;
}
.cur {background:#830;}
.main {text-align:center;}
img {max-width:100%; }
.main img 
{
	margin:5px 0; 
	border-radius:5px;
}
.welcome {
font-style:italic;
text-align:center;
font-family:Times, Times New Roman, serif;
}
.post {
width:800px;
text-align:left;
margin:25px auto;
}
.post header {
text-align:left;
padding-bottom:5px;
overflow:auto;
}
.post h1 {
text-align:center;
font-family:Georgia;
font-size:1.5em;
margin:10px 0;
}
.pubdate, .author, .tags li, .edit 
{
color:Black;
text-decoration:none;
background-color:#ccc;
padding:3px 6px;
font-family:Georgia;
position:relative;
font-size:1em;
margin: 5px 10px 5px 20px;
}
.pubdate:before, .author:before {
position: absolute;
left:-20px;
top:6px;
font-size:.9em;
font-style:italic;
}
.pubdate:before {content: "on";}
.author:before {content: "by";}
.tags {
list-style-type:none;
margin:0;
padding:0;
}
.tags li {
display:inline;
margin:0;
margin-right:15px;
}
.tags li:after {
content: "";
position:absolute;
left:-22px;
border:12px solid transparent;
border-right:10px solid #ccc;
top:0;
}
.tags li:before {
content:"●";
color:white;
left:-7px;
margin-right:-5px;
font-size:.8em;
position:relative;
top:-1px;
}
.cw {
background:#ccc;
padding:10px;
font-family:Georgia;
margin-top:15px;
text-align:center;
}
.login 
{
	text-align:right;
	display:block;
}
.new 
{
	text-align:right;
	text-decoration:none;
	display:block;
}
.title a
{
	color:Black;
	text-decoration:none;
}
.title a:hover 
{
	border-bottom:1px dashed black;
}
.likes {top: 3px; position:relative; font-size:1.5em; color:#999}
.likes:hover {color:Black;}
.star , .starred
{
	text-decoration:none;
	overflow:hidden;
	white-space:nowrap;
	color:inherit;
}
