@model IEnumerable<O_O.Models.post>
@{
    Layout = null;
    Response.ContentType = "application/rss+xml";
}<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>O_O Blog</title>
        <link>http://@Request.Url.Host</link>
        <description>RSS Feed for O_O Blog</description>
        <lastBuildDate>@Model.First().date.ToUniversalTime().ToString("r")</lastBuildDate>
        <language>en-us</language>
        <copyright>Copyright 2011 Thomas Shields</copyright>
        @foreach (var item in Model)
        {
            <item>
                <title>@item.title</title>
                <author>Thomas Shields</author>
                <link>http://@(Request.Url.Host + Url.Action("Details", "Blog", new { id = item.id }))</link>
                <guid>http://@(Request.Url.Host + Url.Action("Details", "Blog", new { id = item.id }))</guid>
                <pubDate>@item.date.ToUniversalTime().ToString("r")</pubDate>
                <description>@(item.content)</description>
                <comments>http://@(Request.Url.Host + Url.Action("Details", "Blog", new { id = item.id }))#comments</comments>
            </item>
        }
    </channel>
</rss>
