@{
    ViewBag.Title = "About";
}

<h3>About Me</h3>
<p>
    <img alt="me" title="Yeah...that's me" src="@Url.Content("~/Content/images/me.png")" style="width:150px; float:left; margin-right:10px;"/> Howdy! I'm Thomas. In no particular order, I'm a student, a computer programmer, web designer, and most importantly, a Christian. 
  I'm determined to take a firm stand with the content I present and attempt to do everything for God's glory. I suppose the best way to get to know me is read my posts. :-) 
  You can <a href="mailto:thomas@mpdteam.net">contact me</a> if you've got any: 
  <ul style="padding-left:200px">
    <li>Ideas - for the design of the website, for features of the site, for  blog post ideas, etc.</li>
    <li>Complaints - ha, yeah right.</li>
    <li>Compliments - again, yeah right. Plus, you can leave those in comments</li>
    <li>...thing you want to say to me. But, if I don't know you, (especially if you've never commented) I'll probably delete it. :) </li>
  </ul>

</p>
