@{
ViewBag.Title = "About";
}
@section head {
<style type="text/css">
.about h4 
{
font-family:Impact;
text-align:left;
color:#444;
}
.tile
{
margin:10px;
margin-top:0;
display:inline-block;
vertical-align:top;
}
.tile ul
{
margin:10px;
padding:20px;
display:inline-block;  
background-color:#852E03;
color:#fff;
font-size:17px;
font-family:Georgia;
text-shadow:#852E03 0 0 1px;
box-shadow:0px 0px 10px 1px #000;
width:350px;
text-align:left;
}
.tile a 
{
color:#000;
font-family:Impact;
font-size:15px;
}
.mePic 
{
width:150px; 
margin:10px;
box-shadow:0px 0px 10px 1px #000;
}
section.about 
{
display:block;
text-align:center;
padding:0;
}
.tile ul li 
{
list-style-type:circle;
margin:0 0 0 20px;
padding:0 20px 0 0;
}
.tooltip 
{
position:relative;
}
@@media screen and (max-width:480px) {
.tile 
{
margin:0;
}
.tile ul 
{
margin:0;
    
}
}
</style>
}
<section class="about">
<div class="tile">
<h4>This is me:</h4>
<img class="mePic" alt="A picture of me in snowy Wyoming" title="I know, handsome right?" src="http://www.gravatar.com/avatar/@ViewBag.EmailHash?s=200"/>
</div>
<div class="tile">
<h4>This is also me:</h4>
<ul>
<li>Thomas Shields</li>
<li>@(Math.Floor((double)(DateTime.Now.ToUniversalTime() - new DateTime(1994,7,12).ToUniversalTime()).TotalDays/365.25)) years old</li>
<li>Homeschooled</li>
<li>A Reformed Christian: saved by grace through faith in my Lord Jesus Christ</li>
<li>A future Pastor wannabe</li>
<li>A web developer</li>
<li>A web designer</li>
<li>A future web design startup wannabe. I just hope I don’t become <a href="http://www.youtube.com/watch?v=LMmdl4VltD4&amp;feature=related">these guys</a></li>
<li>A lover of and worker with: HTML, CSS, JavaScript, C#, ASP.NET MVC</li>
<li>A lover of good design</li>
<li>Not yet a web design company, but I'd love to help if you're interested. Just <a href="mailto:thomasshields@live.com">drop me a note</a></li>
</ul>
</div>
<div class="tile">
<h4>This is my site:</h4>
<ul>
<li>Inspired by Robby Ingebretsen's <a href="http://nerdplusart.com">Nerd Plus Art</a></li>
<li>&copy; Copyright @DateTime.Now.Year Thomas Shields <br />
Code snippets not marked otherwise are free to use any way you like as long as you don't try to pass it off as your own. (You don't have to mention me, though. Just no "Look at this awesome code I wrote!")
</li>
<li>Built on ASP.NET MVC 3</li>
<li>Uses semantic HTML5 markup and a <a href="http://en.wikipedia.org/wiki/Progressive_Enhancement">Progressive Enhancement</a> approach to design</li>
<li>Still in the works: <a href="mailto:thomasshields@live.com">shoot me an email</a> if you find a bug or have any suggestions</li>
</ul>
</div>
<div class="tile">
<h4>Contact Me:</h4>
<ul>
<li>via email: <a href="mailto:thomasshields@live.com">thomasshields@live.com</a></li>
<li>or stalk me on <a href="http://stackoverflow.com/users/719312/thomas-shields">Stack Overflow</a></li> 
<li>I'm often found chatting in the <a href="http://chat.stackoverflow.com/rooms/17/javascript">JavaScript room</a></li> 
</ul>
</div>
</section>
