@{
    ViewBag.Title = "";
}

<h3>@ViewBag.Message</h3>
<div class="block">
<h4>Code <img src="@Url.Content("~/Content/Images/code.png")" style=""></h4>
I wrote my first code at 14, but in two years I went from thinking passwords could be stored in JS files to using JavaScript, HTML, CSS, and ASP.NET to write powerful web applications. I love logic, I love code, and I love writing Object-Oriented, scalable systems. 
</div>
<div class="block">
<h4>Design <img src="@Url.Content("~/Content/Images/design.png")" style=""></h4>
Let's get one thing straight: I am <em>not</em> an artist. But I love to design - anything from treehouses to future homes to websites, I love taking a good idea and making it real.  HTML, CSS, and JavaScript are music to my ears, and I revel in making beautiful designs with clean markup. 
</div>
<div class="block">
<h4>Theology <img src="@Url.Content("~/Content/Images/theology.png")" style=""></h4>
Theology is the study of God. As a sinner saved by grace, a desire to know and glorify the living God should permeate my every thought, word, and action. My faith in Jesus Christ as the Savior of his people can't be divorced from my love for the web. 
</div>
