section {
	margin:30px;
}
section.blogPost article {
margin-left:50px;
}
section h2 {
	font-size:45px;
	text-shadow: #999 0 0 2px;
	display:block;
	margin-top:0;
	margin-bottom:15px;
}
.sidebar {
	float:left;
	width:4%;
	min-width:50px;
	max-width:50px;
}
.sidebar .postDate {
text-shadow: #fff 0 0 .04em;
	width:100%;
	height:50px;
	background-image: url('../Content/Images/calendar.png');
	background-repeat:no-repeat;
	font-size:30px;
	color:white;
	text-align:center;
	margin-bottom:4px;
	font-family:"Century Gothic", Arial;
}
.sidebar .postDate span  {
padding-top:3.9px;
	display:block;
}
.sidebar .postDate .month {
	font-size:12px;
	margin-top:-8px;
	text-shadow: #fff 0 0 .03em;
padding-top:0;
}
.sidebar .comments {
	width:100%;
	height:40px;
	color:#222;
	text-shadow:#222 0 0 1px;
	text-align:center;
	padding-top:10px;
	font-weight:bold;
	background-image: url("../Content/images/comments.png");
	background-repeat:no-repeat;
	font-size:20px;
}
.sidebar .comments a { width:100%; color: #222 }
.sidebar img {
	width:100%;
}
#comments 
{
    margin-left:80px;
    margin-top:40px;
}
#comments .author 
{
    float:left;
}
#comments .content 
{
    float:left;
    width:auto;
    max-width:450px;

}
#comments .quotes
{
    margin-top:-10px;
    font-size:40px;
    vertical-align:top;
    float:left;
    margin-left:10px;
}
#comments .text 
{
    float:left;
}
#comments .closing 
{
    float:right;
}
#comments .authorSpan
{
        color: #CC3300;
}
.addComment {margin: 0 40px; text-align:left;}
.comment-container 
{
 margin:20px 130px 0 0;
 border-bottom:1px dotted #ccc;   
}
#icons 
{
    top:10px;
    right:20px;
    text-align:right;
    position:absolute;
    padding:0;
    margin:0;
}
#icons  li
{
    display:inline;
    margin-left:10px;
    /*position:relative; --- this line isn't necessary, but i was fiddling around 
                            and this element causes an error in Chrome 12 when i 
                            click on the img to reveal the div... an "Aw Snap" error. */
}
.clickit
{
     width:50px;
    cursor:pointer;
     margin-right:10px; 
}
#icons input { width:200px;}
#icons div.dropdown 
{
     display:none; 
     border-radius:4px;
     text-align:center;
     position:absolute;
     right:5px;
     background-color:#fff;
     border:1px solid #ccc;
     box-shadow:0 0 10px #999;
}
#icons .rss 
{
     background-color:#eee; 
     padding: 5px 5px 10px 5px;
}
#SOActivity 
{
    text-align:center;
    padding:10px;
}
.mobileSideBar 
{
    display:none;
}
@media screen and (max-width:480px) 
{
     section.blogPost 
     {
         margin:0;
     }
     div.sidebar 
     {
         display:none;
     }
     section.blogPost article 
     {
         margin:0;
     }
     section.blogPost h2 
     {
         font-size:25px;
     }
     #icons 
     {
         top:auto;
         bottom:0;
         right:0;
     }
     .mobileSideBar 
    {
        display:block;
    }

}
