section {
	margin:30px;
}
section.blogPost article {
	float:left;
	width:805px;
	margin-right:15px;
}
section h2 {
	font-size:45px;
	text-shadow: #999 0 0 2px;
	display:block;
	margin-top:0;
	margin-bottom:5px;
}
.sidebar {
	padding-top:20px;
	float:left;
	width:100px;
}
.sidebar .postDate {
text-shadow: #fff 0 0 .04em;
	width:50px;
	height:50px;
	background-image: url('../Content/Images/calendar.png');
	background-repeat:no-repeat;
	font-size:30px;
	color:white;
	text-align:center;
	margin-bottom:4px;
}
.sidebar .postDate span  {
padding-top:3.9px;
	display:block;
}
.sidebar .postDate .month {
	font-size:12px;
	margin-top:-10px;
	text-shadow: #fff 0 0 .03em;
padding-top:0;
}
.sidebar .comments {
	width:50px;
	height:40px;
	color:#222;
	text-shadow:#222 0 0 1px;
	text-align:center;
	padding-top:10px;
	font-weight:bold;
	background-image: url("../Content/images/comments.png");
	background-repeat:no-repeat;
	font-size:20px;
}
.sidebar .comments a { color: #222 }
.sidebar img {
	width:50px;
}
#comments 
{
    margin-left:80px;
    margin-top:40px;
}
#comments .author 
{
    float:left;
}
#comments .content 
{
    float:left;
    width:auto;
    max-width:450px;

}
#comments .quotes
{
    margin-top:-10px;
    font-size:40px;
    vertical-align:top;
    float:left;
    margin-left:10px;
}
#comments .text 
{
    float:left;
}
#comments .closing 
{
    float:right;
}
#comments .authorSpan
{
        color: #CC3300;
}
.addComment {margin: 0 40px; text-align:left;}
.comment-container 
{
 margin:20px 130px 0 0;
 border-bottom:1px dotted #ccc;   
}
#icons 
{
    top:10px;
    right:20px;
    text-align:right;
    position:absolute;
}
.clickit{ width:50px; cursor:pointer; margin-bottom:10px;}
#icons input { width:200px;}
#icons div 
{
     display:none; 
     border-radius:5px;
     text-align:center;
}
#icons .dropdown 
{
     background-color:#eee; 
     padding: 5px 5px 10px 5px;
}

