.brackets 
{
    display:none;
} 
#nav li 
{
    font-size:20px;
}
.block 
{
    font-size:19px;
}
#main h3 
{
display:none;   
}
header 
{
    text-align:center;
}   
header h1 
{
    margin:0;
}
header nav 
{
    margin:0;
    display:block;
    float:none;
}
section.blogPost 
{
    margin:0;
}
div.sidebar 
{
    display:none;
}
section.blogPost article 
{
    margin:0;
    font-size:17px;
}
section.blogPost h2 
{
    font-size:30px;
}
#icons 
{
    top:auto;
    bottom:0;
    right:0;
}
.mobileSideBar 
{
display:block;
}

