html,body 
{
 height:100%;   
}
body {
    text-align:center;
    margin:0 0 0px 0;
    font-size:15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;	
    position:relative;
}
a {
    color: #CC3300;
    text-decoration:none;
}
img 
{
    border:none;
    max-width:100%;
}
#page {
    min-height:100%;
    width:85%;
    margin:auto;
    border-left:2px #555 solid;
    border-right:2px #555 solid;
    position:relative;
    z-index:1;
}
header, nav, section, article, footer{
    display:block;
}
header {
    text-align:left;
    border-bottom:10px #993300 solid;
    overflow:auto;
}
h1 {
    font-size:70px;
    margin:0 30px 0 20px;
    text-shadow: #999 0 0 2px;
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    float:left;
}
.description 
{
    font-size:20px;
    color:#999;
    text-shadow: #999 0 0 1px;
    font-weight:normal;
}
h2 
{
        font-weight:normal;
}
h2 a 
{
    color:#999;
}
h2, h3, nav, .description {
        font-family:"Courier New", Courier, monospace;
    }
h3 {
    text-shadow: #999 0 0 1px;
    font-size:22px;
    font-weight:normal;
    margin: 5px 0 5px 30px;
}
h4 
{
    text-shadow: #999 0 0 1px;
    font-size:25px;
    font-weight:normal;
    margin: 5px 0 5px 0px;
}

.brackets {
    font-size:60px;
    color:#444;
    text-shadow: #555 0 0 1px;
    vertical-align:middle;

}
ul#nav {
    padding:0;margin:0;
    display:inline;
    vertical-align:-5px;
}
ul#nav li {
    list-style:none;
    display:inline;
}
ul#nav li a {
    color:#666;
    text-decoration:none;
    text-shadow: #666 0 0 1px;
    font-family:Consolas,monospace;
    padding:0;
    font-size:25px;
}
ul#nav li a.selected {
    color: #CC3300;
    text-shadow: #cc3300 0 0 1px;
}

ul#nav li a:hover {
    color: #CC3300;
    text-shadow: #cc3300 0 0 1px;
}
nav {
    text-align:center;
    float:right;
    margin-top:30px;
}
#main {
    text-align:left;
    color:#444;
    margin:0;
    position:relative;
    padding: 10px 10px 50px 10px;
    z-index:1;
}
.block {
    display:inline-block;
    margin: 10px 10px 10px 15px;
    width:300px;
    font-size:13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:left;
    vertical-align:top;
}
.block h3 {
    text-align:center;
    font-size:22px;
    text-shadow: #999 0 0 1px;
    margin:10px 0 0 0;
    padding-right:20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.block h3 img {
    width:30px;
    vertical-align:bottom;
}
body > footer {
    color:#fff;
    font-size:13px;
    margin-top:-30px;
    position:relative;
    width:100%;
    min-height:30px;
    line-height:30px;
    background-color:#930;
    z-index:5;
}
body > footer a { color: #eee; }
.input-validation-error 
{
    background-color: #FFCECE;
}
.field-validation-error span
{
    color:Red;
    vertical-align:top;
}
.editor-label
{
    text-transform:capitalize;
}
.submit 
{
    background-color:#ccc;
    padding:5px 10px;
    border:1px solid #555;
    border-radius:7px;
    margin-top:10px;
}
.submit:hover 
{
    background-color:#bbb;
}
.submit:active 
{
    background-color:#999;
}
textarea 
{
    width:300px;
    height:100px;
}
input, textarea 
{
    font-family:Verdana;
    color:#555;
}
blockquote 
{
    margin:0 0 0 30px;
    padding:10px;
    background-color:#eee;
    border-left:5px solid #930;
}
blockquote:before 
{
    content:"“";
    font-family:Georgia, "Times New Roman", Serif;
    font-size:50px;
    margin-left:-.9em;
    margin-top:-.5em;
    display:block;
    float:left;
    font-weight:bold;
}
table 
{
    border-spacing:0;
}
td, th 
{
    padding:0 5px 0 5px;
}
tr:nth-child(odd) 
{
    background-color:#eee;
}
@media screen and (max-width:1170px) 
{
 header h1 
 {
     margin:0;
 }   
}
@media screen and (max-width:1120px) 
{
    .brackets 
     {
         display:none;
     } 
    nav 
     {
         margin:55px 10px 0 0;
     }

}
@media screen and (max-width:1035px) 
{
     ul#nav li a
     {
         font-size:20px;
     }
     nav { margin-top:60px; }
     header h1 span.description { font-size: 16px }
}
@media screen and (max-width:920px) 
{
    header h1 span.description { display:none }
}
@media screen and (max-width:800px) 
{
      #page 
     {
         width:100%;
         margin:0;
         border:none;
     }  
    
}
@media screen and (max-width:560px) 
{
     .block 
     {
         font-size:19px;
         margin:0;
     }
}
@media screen and (max-width:480px) 
{
     header 
     {
         text-align:center;
     }   
     header h1 
     {
         margin:0;
         float:none;
     }
     
     header nav 
     {
         margin:0;
         float:none;
         display:block;
     }
}
#blockWrapper 
{
    text-align:center;
    margin: 20px 10px 50px 10px;
}