html,body
{
height:100%;
}
body{
text-align:center;
margin:0 0 0px 0;
font-size:15px;
font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;	
position:relative;
}
#page
{
min-height:100%;
width:85%;
margin: auto;
border-left: 2px #555 solid;
border-right: 2px #555 solid;
position: relative;
z-index: 1;
}
a {
color: #CC3300;
text-decoration:none;
}
img 
{
border:none;
max-width:100%;
}
header, nav, section, article, footer{
display:block;
}
header {
text-align:left;
}
header:before, header:after 
{
content:"";
display:table;
}
header:after 
{
clear:both;
}
h1 
{
display:inline-block;
margin:0;
padding:0;
}
h1 img 
{
height:110px;
padding:10px 5px 0 5px;
}
h2, h3, nav, .description {
font-family:"Courier New", Courier, monospace;
}
h3 {
text-shadow: #fff 0 0 1px;
font-size:22px;
font-weight:normal;
margin: 5px 0 5px 30px;
}
h4 
{
text-shadow: #fff 0 0 1px;
font-size:25px;
font-weight:normal;
margin: 5px 0 5px 0px;
}
nav {
text-align:center;
float:right;
margin-top:90px;
margin-right:30px;
}
#nav {
padding:0;
margin:0;
display:block;
font-size:0;
}
#nav li {
list-style:none;
display:inline;
padding:0;
}
#nav li a {
color:#fff;
text-decoration:none;
text-shadow: #ccc 0 0 1px;
font-family:Consolas, monospace;
padding:0 50px;
font-size:25px;
border-right:1px solid #777;
background-color:#ccc;
}
#nav li a.selected {
background-color:#930;
}
#nav li a.selected:hover 
{
background-color:#cc;
}
#nav li a:hover {
color: #F10;
}
#nav li:last-child a 
{
border-right:0;
}
#main {
text-align:left;
color:#444;
margin:0;
position:relative;
padding: 10px 10px 50px 10px;
z-index:1;
}
.block {
display:inline-block;
margin: 10px 10px 10px 15px;
width:300px;
font-size:13px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align:left;
vertical-align:top;
}
.block ol { list-style:none; padding:0; margin:0; }
.block h3 {
text-align:center;
font-size:22px;
text-shadow: #fff 0 0 1px;
margin:10px 0 0 0;
padding-right:20px;
font-family: Impact, Charcoal, Sans-Serif;
}
.latest-post-date 
{
display:block;
color:#999;
font-size:13px;
text-indent:10px;
}
body > footer {
color:#fff;
font-size:13px;
margin-top:-30px;
position:relative;
width:100%;
min-height:30px;
line-height:30px;
background-color:#930;
z-index:5;
}
body > footer a { color: #eee; }
.input-validation-error 
{
background-color: #FFCECE;
}
.field-validation-error span
{
color:Red;
vertical-align:top;
}
.editor-label
{
text-transform:capitalize;
}
.submit 
{
background-color:#ccc;
padding:5px 10px;
border:1px solid #555;
border-radius:7px;
margin-top:10px;
}
.submit:hover 
{
background-color:#bbb;
}
.submit:active 
{
background-color:#999;
}
textarea 
{
width:300px;
height:100px;
}
input, textarea 
{
font-family:Verdana;
color:#555;
}
blockquote 
{
margin:0 0 0 30px;
padding:10px;
background-color:#eee;
border-left:5px solid #930;
}
blockquote:before 
{
content:"“";
font-family:Georgia, "Times New Roman", Serif;
font-size:50px;
margin-left:-.9em;
margin-top:-.5em;
display:block;
float:left;
font-weight:bold;
}
table 
{
border-spacing:0;
}
td, th 
{
padding:0 5px 0 5px;
}
tr:nth-child(odd) 
{
background-color:#eee;
}
@media screen and (max-width:1170px) 
{
h1 
{
margin:0;
}   
}
@media screen and (max-width:1120px) 
{
nav 
{
margin-right:10px;
}
}
@media screen and (max-width:1100px) 
{
header 
{
text-align:center;
}
nav li a
{
padding:5px 40px;
}
h1 
{
display:block;
margin-bottom:10px;
text-align:center;
}
nav 
{
float:none;
display:inline-block;
margin:0 auto;
}
}
@media screen and (max-width:800px) 
{
#page 
{
width:100%;
margin:0;
border:none;
}  
    
}
@media screen and (max-width:560px) 
{
.block 
{
font-size:19px;
margin:0;
}
.latest-post-date { font-size:15px;}
}
@media screen and (max-width:480px) 
{
header h1 img 
{
width:320px;
max-width:320px;
height:auto;
margin:0;
padding:0;
}
#nav li a 
{
padding:0 10px;
}
}
#blockWrapper 
{
text-align:center;
margin: 20px 10px 50px 10px;
}