@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "O_O | Page Not Found";
}

<h3>
Uh Oh</h3>
<div style="text-align:center; padding:20px;">
We couldn't find that page. Honest, we even asked the elves. It's gone. Either <em>YOU</em> typed the URL wrong, or we goofed. You can try refreshing, btw. 
</div>