@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "O_O | Super Ultra Mega Fatal Error";
}

<h3>
Uh Oh</h3>
<div style="text-align:center; padding:20px;">
There was some sort of error that occured, and we're not sure what. If you feel like being helpful, you can copy the url and send it to <a href="mailto:thomas@mpdteam.net">me</a> and hopefully we can sort this out.  </div>